@import 'bootstrap/dist/css/bootstrap';


html,
body {
  height: 100%;
}

img{
  display:block;
}
#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.navbar{
  background-color: #273746  !important;
}

.nav-link{
  color:#fff !important;
}
.navbar-light .navbar-brand{
  color:#fff;
  font-size: 1.7em;
  letter-spacing:-1px;
  font-weight: bold;
  text-transform:uppercase;
}

.container{

  &--home{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)

  }
}

.jumbotron{
  background-image:asset-url('alpha_blog_bgc.jpg');
  filter:brightness(90%);
  background-size:cover;
  background-repeat:no-repeat;
 
}
.form{
  background-color:  #162E33;
}
.green{
  color:#162E33;
}
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; 
    border-radius: 5px;
    }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #a4d4ff; }
  .flickr_pagination a {
    border: 1px solid #f0f8ff;
    color: #f0f8ff;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: grey;
      background: #f0f8ff;
      color: grey; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }